<h2>Usuarios</h2>

<table class="table ">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>authId</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        @for (user of usersdata; track $index) {
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.authId }}</td>
                <td>
                    <img class="avatar" [src]="getAvatarUrl(user.avatarUrl)" alt="Foto de usuario">
                </td>
            </tr>
        }
    </tbody>
</table>
