.score-box {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #51db84;
    border-radius: 12px;
    color: #51db84;
    font-size: 1.25rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #010b15;
    font-weight: bold;
}

.score-num {
    color: #b39353;
}