<div class="app">
  <header>
    <section>
      <h1>{{ title }}</h1>
      <h2> {{ version }}</h2>
    </section>
    <nav>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/about">Acerca de</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        <li><a routerLink="/login">Iniciar sesión</a></li>
        <li><a routerLink="/signup">Registro</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    2023
  </footer>

</div>